$light-color: #C9DDF1
$dark-color: #074E86

img
	max-height: 100%

header, footer
	background-color: $light-color

	#header	
		height: 100px
		padding-left: 16px

	li
		color: $dark-color

.sidebar
	background-color: $dark-color
	color: $light-color
	height: 100vh

a 
	color: white

.row
	margin-left: 1px
	margin-right: 2px
	border-bottom: 5px solid white
	
  	

